

Flask==3.1.2
Flask-Cors==6.0.2
python-dotenv==1.2.1
pymongo==4.16.0
bcrypt==5.0.0
PyJWT==2.10.1

# ML stack
numpy==2.4.1
scikit-learn==1.8.0
scipy==1.17.0

# Production server (MANDATORY)
gunicorn==21.2.0
